{% extends 'base.html.twig' %}

{% block title %}Offer index{% endblock %}

{% block body %}
    <h1>Offer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Description</th>
                <th>IsActive</th>
                <th>JobTitle</th>
                <th>JobLocation</th>
                <th>ClosingAt</th>
                <th>Salary</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.id }}</td>
                <td>{{ offer.reference }}</td>
                <td>{{ offer.description }}</td>
                <td>{{ offer.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ offer.jobTitle }}</td>
                <td>{{ offer.jobLocation }}</td>
                <td>{{ offer.closingAt ? offer.closingAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offer.salary }}</td>
                <td>{{ offer.createdAt ? offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_offer_show', {'id': offer.id}) }}">show</a>
                    <a href="{{ path('app_offer_edit', {'id': offer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offer_new') }}">Create new</a>
{% endblock %}
